header{
    background-color: blueviolet;
}
h1{
    border: 5px dotted aqua;
}

footer{
    background-color: brown;
    border: 4px double darkgoldenrod;
}

.spooky{
    border: 9px solid darkred;
}

body{
    background-color: lightcoral;
    text-align: center
}
